* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Fredoka", sans-serif;
    background: #113559;
    color: white;
    overflow-x: hidden;
}

/* NAVBAR */

.navbar {
    width: 100%;
    height: 64px;
    background-color: #072743;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 70px;

}

.nav-links a {
    color: #ffffff;
    text-decoration: none;

    font-size: 15px;
    font-weight: 600;

    position: relative;

    transition: 0.3s ease;
}
.nav-links a::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: -5px;

    width: 0%;
    height: 2px;

    background: white;

    border-radius: 10px;

    transition: width 0.35s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-rsvp {
    background: rgba(2, 145, 181, 0.55);

    padding: 8px 18px;

    border-radius: 999px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);

    transition: 0.3s ease !important;
}

.nav-rsvp:hover {
    background: rgba(2, 145, 181, 0.85);
}
.nav-rsvp::after {
    display: none;
}

.hero-section {
    width: 100%;
    min-height: calc(100vh - 52px);

    background:
        linear-gradient(
            rgba(17, 53, 89, 0.90),
            rgba(17, 53, 89, 0.93)
        ),
        url("images/bg-pattern.png");

    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    padding: 10px 20px 70px;

    position: relative;

}
.tag {
    background: rgba(2, 145, 181, 0.5);
    color: white;

    font-size: 13px;
    font-weight: 700;

    padding: 7px 20px;
    border-radius: 30px;

    margin-bottom: 16px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
}

.hero-mascot {
    width: 175px;
    margin-bottom: 10px;
}

.hero-title h1 {
    font-size: clamp(44px, 6vw, 72px);

    line-height: 1.08;

    font-weight: 550;

    letter-spacing: -1px;
}
.hero-bottom-title {
    margin-top: 6px;
}

.hero-bottom-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    margin-top: 4px;
}

.hero-bottom-title {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    gap: 10px;

    margin-top: -4px;
}

.hero-bottom-title img {
    width: clamp(190px, 26vw, 320px);

    transform: translateY(-2px);
}

.hero-bottom-title img {
    width: clamp(190px, 26vw, 320px);

    transform: translateY(-2px);
}

.hero-section p {
    max-width: 620px;

    font-size: 19px;
    line-height: 1.5;

    color: rgba(255,255,255,0.78);

    margin-top: 18px;
    margin-bottom: 28px;
}

.hero-title {
    transform: translateY(-6px);
}

.hero-button {
    background: rgba(2, 145, 181, 0.5);
    color: white;

    border: none;
    border-radius: 28px;

    padding: 13px 42px;

    font-family: "Fredoka", sans-serif;
    font-size: 18px;
    font-weight: 700;

    cursor: pointer;

    transition: 0.3s ease;

    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.16);
    display: inline-block;
    text-decoration: none;
}

.hero-button:hover {
    transform: translateY(-3px);
    background: rgba(2, 145, 181, 1);
}


.about-bestsellr-section {
    width: 100%;
    min-height: 620px;

    background: #11395e;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 100px;

    padding: 90px 8%;

    position: relative;
    overflow: hidden;

    
    border-bottom-left-radius: 50% 50px;
    border-bottom-right-radius: 50% 50px;
}

.about-text {
    max-width: 560px;

    border-left: 4px solid rgba(2, 145, 181, 0.7);

    padding-left: 28px;

    transform: translateX(-24px);

}

.about-text h2 {
    font-size: clamp(34px, 4vw, 54px);
    margin-bottom: 24px;
}

.about-text p {
    font-size: 22px;
    line-height: 1.65;
    color: #ffffff;
}

.about-bestsellr-section img {
    width: 370px;
    position: relative;
    z-index: 2;
    filter: none;
    box-shadow: none;
    animation: none;
}

.process-section {
    width: 100%;
    background:
        linear-gradient(
            rgba(17, 53, 89, 0.90),
            rgba(17, 53, 89, 0.93)
        ),
        url("images/bg-pattern.png");

    text-align: center;

    padding: 105px 8% 125px;
}

.process-section h2 {
    font-size: clamp(34px, 4vw, 54px);

    margin-bottom: 58px;

    position: relative;

    display: inline-block;
}

.process-section h2::after {
    content: "";

    position: absolute;

    left: 50%;
    bottom: -12px;

    transform: translateX(-50%);

    width: 70%;
    height: 4px;

    background: #f0aa25;

    border-radius: 20px;
}

.process-cards {
    max-width: 1100px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 22px;
}

.card {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;

    background: rgba(255, 255, 255, 0.08);

    border: 1px solid rgba(255, 255, 255, 0.12);

    border-radius: 24px;

    min-height: 360px;

    padding: 38px 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.35s ease;

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.12),
        inset 0 1px 1px rgba(255, 255, 255, 0.08);
}

.card:hover {
    transform: translateY(-10px);

    background: rgba(255, 255, 255, 0.12);

    border-color: rgba(255, 255, 255, 0.18);
}

.card img {
    width: 78px;
    height: 78px;
    object-fit: contain;
    margin-bottom: 18px;

    transition: 0.3s ease;
}

.card:hover img {
    transform: scale(1.12) rotate(3deg);
}

.card h3 {
    font-size: 28px;
    line-height: 1.2;

    color: white;
    font-weight: 600;

    text-align: center;
    text-wrap: balance;
}

.faq-section {
    width: 100%;
    background:
        linear-gradient(
            rgba(17, 53, 89, 0.90),
            rgba(17, 53, 89, 0.93)
        ),
        url("images/bg-pattern.png");

    padding: 85px 8% 95px;
}

.faq-section h2 {
    text-align: center;
    font-size: clamp(34px, 4vw, 54px);
    margin-bottom: 42px;

    text-decoration: underline;
    text-decoration-color: #f0aa25;
    text-underline-offset: 12px;
}

.faq {
    max-width: 950px;

    background: rgba(255, 255, 255, 0.06);

    border: 1px solid rgba(255, 255, 255, 0.08);

    margin: 18px auto;

    border-radius: 18px;

    overflow: hidden;

    cursor: pointer;

    transition: 0.3s ease;

    backdrop-filter: blur(10px);
}

.faq:hover {
    background: rgba(255, 255, 255, 0.09);

    transform: translateY(-2px);
}

.faq-question {
    width: 100%;

    padding: 22px 26px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;
}

.faq h3 {
    font-size: clamp(16px, 1.7vw, 22px);
    color: white;
    font-weight: 600;
}

.faq-arrow {
    font-size: 26px;
    color: #f0aa25;

    transition: 0.3s ease;
}

.faq p {
    max-height: 0;
    overflow: hidden;

    padding: 0 26px;

    font-size: clamp(15px, 1.4vw, 18px);
    line-height: 1.5;

    color: #d7e6ee;

    transition: 0.35s ease;
}

.faq.active p {
    max-height: 180px;

    padding: 0 26px 22px;
}

.faq.active .faq-arrow {
    transform: rotate(180deg);
}

footer {
    background: #072743;
    text-align: center;
    padding: 24px 15px;
}

footer p {
    color: #d7e6ee;
    font-size: 15px;
}

/* ANIMATIONS */

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-14px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(28px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popUp {
    from {
        opacity: 0;
        transform: scale(0.85);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* RESPONSIVE */

@media (max-width: 950px) {
    .about-bestsellr-section {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .process-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .navbar {
        height: 50px;
    }

    .nav-links {
        gap: 30px;
    }

    .nav-links a {
        font-size: 12px;
    }

    .hero-section {
        min-height: calc(100vh - 50px);
        padding: 50px 18px;
    }

    .hero-mascot {
        width: 120px;
    }

    .hero-bottom-title {
        gap: 8px;
    }

    .about-bestsellr-section,
    .process-section,
    .faq-section {
        padding-left: 6%;
        padding-right: 6%;
    }

    .process-cards {
        grid-template-columns: 1fr;
    }

    .card {
        min-height: 190px;
    }

    .faq:hover {
        transform: none;
    }
}

.requirements-section {
    width: 100%;
    background: #11395e;
    text-align: center;
    padding: 85px 8% 95px;

    border-top-left-radius: 50% 50px;
    border-top-right-radius: 50% 50px;
}

.requirements-section h2 {
    text-align: center;
    font-size: clamp(34px, 4vw, 54px);
    margin-bottom: 42px;

    text-decoration: underline;
    text-decoration-color: #f0aa25;
    text-underline-offset: 12px;
}

.requirements-container {
    max-width: 1100px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
}

.requirement-card {
    width: 100%;
    text-align: left;

    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 24px;

    padding: 38px 26px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transition: 0.35s ease;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12), inset 0 1px 1px rgba(255, 255, 255, 0.08);
}

.requirement-card:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.12);
    border-color: rgba(255, 255, 255, 0.18);
}

.requirement-card h3 {
    font-size: clamp(24px, 2.5vw, 32px);
    color: #ffffff;;
    margin-bottom: 22px;
    font-weight: 600;
}

.requirement-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.requirement-list li {
    font-size: clamp(15px, 1.4vw, 18px);
    line-height: 1.6;
    color: #d7e6ee;
    margin-bottom: 18px;
    padding-left: 26px;
    position: relative;
}

.requirement-list li:before {
    content: "•";
    position: absolute;
    left: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
}

.requirement-list li:last-child {
    margin-bottom: 0;
}

/* RESPONSIVE */

@media (max-width: 950px) {
    .requirements-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .requirements-section {
        padding-left: 6%;
        padding-right: 6%;
    }

    .requirement-card:hover {
        transform: none;
    }
}   
footer {
    width: 100%;
    background: #072743;
    padding: 24px 8%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-content {
    max-width: 1100px;
    margin: 0 auto;
}

.footer-links {
    margin-bottom: 8px;
    font-size: clamp(15px, 1.3vw, 18px);
}

.footer-links a {
    color: #0291b5;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.footer-links a:hover {
    color: #f0aa25;
}

.footer-divider {
    color: #d7e6ee;
    margin: 0 12px;
}

footer p {
    color: #d7e6ee;
    font-size: clamp(14px, 1.2vw, 16px);
    margin: 0;
}

footer p a {
    color: #0291b5;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

footer p a:hover {
    color: #f0aa25;
}


@media (max-width: 600px) {
    footer {
        padding: 20px 6%;
    }

    .footer-links {
        margin-bottom: 8px;
    }
}